<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219376448414-jdpfealabp20tnmrnbgt224ihns1vjof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219376448414-jdpfealabp20tnmrnbgt224ihns1vjof</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>219376448414-60cmb8u56ij9odbj3h89c7i1kf0lp1mg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmKcTIUeHRiKow_uzxYIWTiEBoyp1GqyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>219376448414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drhome</string>
	<key>PROJECT_ID</key>
	<string>drhome-17380</string>
	<key>STORAGE_BUCKET</key>
	<string>drhome-17380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219376448414:ios:6c5601be0ad4a531ef1c8f</string>
</dict>
</plist>